
<%if @sessions_as_mentor.count() > 0 %>
    <h1>Mentor Sessions</h1>
    <table class="table table-striped col-md-12" id="sessions_as_mentor">
    <thead>
        <tr>
        <th>Mentor</th>
        <th>Mentee</th>
        <th>Status</th>
        <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% @sessions_as_mentor.each do |session| %>
        <tr>
            <td>
            <%= session.mentor.user.username %>
            </td>
            <td>
            <%= session.mentee.user.username %>
            </td>
            <td>
            <%= session.status %>
            </td>
            <td>
                <% if session.requested? %>
                    <%= link_to 'Approve', sessions_approve_path(:session_id => session.id), :class => 'btn btn-primary col-2' %>
                <% end %>
                <% if !(session.terminated?) %>
                    <%= link_to 'Cancel', sessions_cancel_path(:session_id => session.id), :class => 'btn btn-primary col-2' %>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
    </table>
<%end%>

<%if @sessions_as_mentee.count() > 0 %>
    <h1>Mentee Sessions</h1>
    <table class="table table-striped col-md-12" id="sessions_as_mentee">
    <thead>
        <tr>
        <th>Mentor</th>
        <th>Mentee</th>
        <th>Status</th>
        <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% @sessions_as_mentee.each do |session| %>
        <tr>
            <td>
            <%= session.mentor.user.username %>
            </td>
            <td>
            <%= session.mentee.user.username %>
            </td>
            <td>
            <%= session.status %>
            </td>
            <td>
                <% if !(session.terminated?) %>
                    <%= link_to 'Cancel', sessions_cancel_path(:session_id => session.id), :class => 'btn btn-primary col-2' %>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
    </table>
<%end%>