<%= content_tag :nav, class: "navbar navbar-expand-lg navbar-light" do %>
  <%= content_tag :a, class: "navbar-brand" do %>
    <%= link_to image_tag('mentr.me.png', width: '200px'), homepage_index_path %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto h5">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Edit Profile', edit_user_registration_path, class: 'nav-link', id: "edit_profile_link" %>
        </li>
        <li class="nav-item">
          <% if Mentor.find_by user: current_user %>
            <%= link_to 'Update Mentor Info', mentors_new_path, class: 'nav-link', id: "edit_mentor_profile_link" %>
          <% else %>
            <%= link_to 'Become A Mentor', mentors_new_path, class: 'nav-link', id: "new_mentor_profile_link" %>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sessions', sessions_show_path, class: 'nav-link', id: "sessions_link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Catalog', catalog_index_path, class: 'nav-link', id: "catalog_link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'nav-link', id: "logout_link" %>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">
            Logged in as <strong><%= current_user.username %></strong>.
          </a>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class: 'nav-link', id: "sign_up_link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: 'nav-link', id: "login_link" %>
        </li>
      <% end %>
      <%#=
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    %>
  </div>
<% end %>
