<div class="container">
  <h1 class="display-4">Become A Mentor</h1>

    <%= form_with model: @mentor do |f| %>
    <div class="textarea">
        <%= f.label :profile %><br />
        <%= f.text_area :profile, id: "profile_edit" %>
    </div>

    <div class="field">
        <%= f.label :company %><br />
        <%= f.text_field :company, id: "company_edit" %>
    </div>
    
    <div class="field">
        <%= f.label :location %><br />
        <%= f.text_field :location, id: "location_edit" %>
    </div>
    
    <div class="field">
        <%= f.label :website %><br />
        <%= f.text_field :website, id: "website_edit" %>
    </div>

    <div class="field">
        <%= f.label :linkedin %><br />
        <%= f.text_field :linkedin, id: "linkedin_edit" %>
    </div>


    <div class="actions">
      <%= f.submit "Sign up", id: "submit_mentor_register", class: "btn btn-primary" %>
    </div>

    <% end %>

</div>