<div class="container">
  <h1 class="display-4">Mentor Match</h1>
  <p class="lead text-center">Choose a category from below to exclusively find mentors whose specializations align with your interests</p>
  <div style="margin:10px; display:flex; align-items:center; justify-content: center; margin-bottom:30px">
    <%= form_tag(catalog_index_path, method: :get) do %>
      <div class="input-group">
        <div class="form-outline" style="margin-right:5px">
          <%= text_field_tag(:search, params[:search], class:'form-control mr-sm-2', placeholder:"Search", id: "catalog_search")%>
        </div>
        <%= submit_tag "Search", class:"btn btn-outline-success my-2 my-sm-0", id: "catalog_search_button" %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-sm">
      <div class="card bg-light mb-3 p-2" style="width: 18rem; margin-left:auto; margin-right:auto;">
        <div class="card-header text-center h5 mb-2 border-0">All</div>
        <%= link_to "View", catalog_path(-1), class: "btn btn-info", id: "more_info_button" %>
        </div>
      </div>

    <% @categories.each_with_index do |category, index| %>
      <div class="col-sm">
        <div class="card bg-light mb-3 p-2" style="width: 18rem; margin-left:auto; margin-right:auto;">
          <div class="card-header text-center h5 mb-2 border-0"><%= category.name %></div>
            <%= link_to "View", catalog_path(category.id), class: "btn btn-info", id: "more_info_button" %>
          </div>
        </div>
    <% end %>
      </div>

    <% if @categories.length%3 == 1%>
      <div class="col-sm">
        <div style="width:18rem"></div>
      </div>
      <div class="col-sm">
        <div style="width:18rem"> </div>
      </div>
    <% end %>

    <% if @categories.length%3 == 2%>
      <div class="col-sm">
        <div style="width:18rem"></div>
      </div>
    <% end %>

  </div>
</div>
