<div class="container">
  <h1>Mentor Match</h1>
  <p><center>Choose a category from below to exclusively find mentors whose specializations align with your interests</center></p>
  <div style="margin:10px; display:flex; align-items:center; justify-content: center;">
    <%= form_tag(catalog_index_path, method: :get) do %>
      <div class="input-group">
        <div class="form-outline" style="margin-right:5px">
          <%= text_field_tag(:search, params[:search], class:'form-control mr-sm-2', placeholder:"Search", id: "catalog_search")%>
        </div>
        <%= submit_tag "Search", class:"btn btn-outline-success my-2 my-sm-0", id: "catalog_search_button" %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <% @categories.each_with_index do |category, index| %>
      <div class="col-sm">
        <div class="card bg-light mb-3" style="width: 18rem; margin-left:auto; margin-right:auto;">
          <div class="card-header"><%= category %> </div>
          <div class="card-body">
            <h5 class="card-title">category</h5>
            <p class="card-text">category descriptionssss.</p>
            <%= link_to "View All", catalog_path(1), class: "btn btn-primary", id: "more_info_button" %>
          </div>
        </div>
      </div>
    <% end %>

    <% if @categories.length%3 == 1%>
      <div class="col-sm">
        <div style="width:18rem"></div>
      </div>
      <div class="col-sm">
        <div style="width:18rem"> </div>
      </div>
    <% end %>

    <% if @categories.length%3 == 2%>
      <div class="col-sm">
        <div style="width:18rem"></div>
      </div>
    <% end %>

  </div>
</div>
