<!--  app/views/movies/show.html.erb -->
<h1>About <em><%= @user.username %></em></h1>

<h2>Details about <em><%= @user.username %></em></h2>

<ul id="details">
  <li>
    Name:
    <%= @user.username %>
  </li>
  <li>
    Email:
    <%= @user.email %>
  </li>

  <% if @user.professional and @user.professional!=""%>
    <li>
      Link to professional portfolio:
      <%= @user.professional %>
    </li>
  <% end %>

  <% if @user.location and @user.location!="" %>
  <li>
    Location:
    <%= @user.location %>
  </li>
  <% end %>

  <% if @user.company and @user.company!=""%>
  <li>
    Company:
    <%= @user.company %>
  </li>
  <% end %>

</ul>

<h3>Description:</h3>
<p id="description">
  <%= (@user.profile) ? @user.profile: "Hello, my name is #{@user.username}" %>
</p>

<div class="row">
  <%= link_to 'Back to all mentors', catalog_index_path, :class => 'btn btn-primary col-2', id: "back_to_catalog_link" %>
  <%= link_to 'Request a session', sessions_create_path(:mentor_id => @user.user_id), :class => 'btn btn-primary col-2', id: "request_session_link" %>
</div>
