<!--  app/views/movies/show.html.erb -->
<h1>About <em><%= @user.username %></em></h1>

<h2>Details about <em><%= @user.username %></em></h2>

<ul id="details">
  <li>
    Name:
    <%= @user.username %>
  </li>
  <li>
    Email:
    <%= @user.email %>
  </li>
  <li>
    Link to professional portfolio:
    <%= @user.email %>
  </li>
</ul>

<h3>Description:</h3>
<p id="description">
  Subjects taught XYZ with experience working
</p>
<p id="description">
  Subjects taught XYZ with experience working
</p>

<div class="row">
  <%= link_to 'Back to all  mentors', catalog_index_path, :class => 'btn btn-primary col-2' %>
  <%= link_to 'Request a session', catalog_index_path(:mentor => @user), :class => 'btn btn-primary col-2' %>
</div>
